<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PeerFood{% endblock %}</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% include 'components/loader.twig' %}
    <div class="app-container">
        {% include 'components/sidebar.twig' %}
        <div class="page-wrapper">
            {% include 'components/navbar.twig' %}
            <div class="page-breadcrumb"> 
                {% include 'components/breadcrumb.twig' %}
            </div>
            <div class="container-fluid">
                {% block content %}{% endblock %}
                <div class="row mt-4">
                <div class="col-12">
                    {% include 'components/footer.twig' %}
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js" integrity="sha256-AlTido85uXPlSyyaZNsjJXeCs07eSv3r43kyCVc8ChI=" crossorigin="anonymous"></script>
    <script src="/js/theme.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>